body{
 background-color:rgba(51,67,66,0.8);
 font-family: 'Open Sans', sans-serif;
 color: #fff;
}
h1{
 text-align: center;
}
input{
 border:2px solid #ccc;
 border-radius: 10px;
 padding: 3px 8px;
 font-family: 'Open Sans', sans-serif;
 

 
}

input:hover,input:focus{
 border: 2px solid #000;

}
button{
 background-color: #343E3D;
 border: none;
 margin-left:20px;
 padding: 10px 20px;
 color: #fff;
 border-radius: 10px;
 cursor: pointer;
 font-size: 1em;
 margin-bottom: 30px;
}
button:hover, button:focus{
 background-color:#609174;
}



.series{
 margin: 30px auto;
 display:grid;
 grid-template-columns:repeat(3,1fr);
 justify-content: center;
 width: 60%;
 grid-gap: 15px;

}
.seriesID{
 text-align: right;
 
}
.nav_input{
 display: inline-block;
}

.outdated_NAV{
 margin-left: 20px;
 list-style-type: none;
 color: rgb(110, 11, 11);
}
.date_fund_AUM{
 display: flex;
 justify-content: center;
 flex-direction: column;
}


.outdated_AUM{
 margin-left: 10px;
 color: rgb(110, 11, 11);
}
.AUM_label{
 display: flex;
 justify-content: center;
 align-items: center;
}
.AUM_label label{
 margin-right: 10px;
}


#selection{
 margin:0 20px;
 border-radius:10px;
 padding: 3px 10px;
 cursor: pointer;
 border:2px solid #ccc;
}
#selection:focus,#selection:hover{
 border: 2px solid #000;
 
}
.date{
 display: flex;
}
.outdated_date{
 color: rgb(110, 11, 11);
 margin-left: 10px;
}

.title{
 margin: 30px auto;
}
.instructions{
 color: rgb(110, 11, 11);
 font-size: 0.7em;
}
.fund_AUM{
 margin:20px auto;
 display: flex;
 align-items: center;
}


.date_picker{
 display: flex;
 justify-content:center;
 align-items: center;

}
.current_fund{
 font-size: 1.2em;
 margin-left: 20px;
 border-bottom:2px solid #fff ;
}
.date_label{
 display: inline-block;
 margin-right:5px
}
.btn{
 display: flex;
 justify-content: center;
}

